In [1]:
import pandas as pd

###### Getting zipcodes datasets to map it to each station in brooklyn(my target)

In [2]:

zipcode_stn_df= pd.read_csv("https://raw.githubusercontent.com/reiffs/202107_Reiff_Metis_EDA_Project/d570eb9a8827ce14e7fbc3c632775c00fb5d332f/raw_data_sets/station_zips.csv")
zipcode_stn_df.drop(columns="LINENAME", inplace=True)
zipcode_stn_df.head(10)

         STATION  ZIPCODE
0           1 AV    10003
1         103 ST    10025
2         103 ST    10025
3         103 ST    10029
4  103 ST-CORONA    11368
5         104 ST    11418
6         104 ST    11417
7         110 ST    10029
8         111 ST    11418
9         111 ST    11419

In [4]:
#making a list with all zipcodes in brooklyn. source:ny.postcodebase.com/city/BROOKLYN
zipcode_bk=[11201,11202,11203,11204,11205,11206,11207,11208,11209,11210,11211,11212,11213,11214,11215,11216,11217,11218,11219,11220,11221,11222,11223,
            11224,11225,11226,11228,11229,11230,11231,11232,11233,11234,11235,11236,11237,11238,11239,11241,11242,11243,11245,11247,11249,11251,11252,11256]

#### convert zipcode_bk list to dataframe

In [5]:
zipcode_bk_df = pd.DataFrame(columns=['ZIPCODE'], data=zipcode_bk)
zipcode_bk_df.head()

   ZIPCODE
0    11201
1    11202
2    11203
3    11204
4    11205

#### making an inner join to extract only stations in Brooklyn

In [8]:
zipcode_stn_bk = zipcode_stn_df.merge(zipcode_bk_df, on='ZIPCODE',how='inner')
zipcode_stn_bk

             STATION  ZIPCODE
0     15 ST-PROSPECT    11215
1          4 AV-9 ST    11215
2           4AV-9 ST    11215
3               7 AV    11215
4        PROSPECT AV    11215
..               ...      ...
157        NASSAU AV    11222
158        JUNIUS ST    11212
159      ROCKAWAY AV    11212
160      SARATOGA AV    11212
161  SUTTER AV-RUTLD    11212

[162 rows x 2 columns]

#### Save the dataframe to map it to MTA dataset

In [9]:
zipcode_stn_bk.to_csv('ZipcodeSationsInBk.csv',index=False)

In [10]:
#check after save
zipcode_stn_df2= pd.read_csv("ZipcodeSationsInBk.csv")
zipcode_stn_df2.head()

          STATION  ZIPCODE
0  15 ST-PROSPECT    11215
1       4 AV-9 ST    11215
2        4AV-9 ST    11215
3            7 AV    11215
4     PROSPECT AV    11215